
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-lg-8">
      <%= render partial: "comments/template", locals: { commentable: @project, new_comment: @comment} %>
    </div>

  </div>

</div>

